@font-face {
  font-family: 'hyperzoaultra';
  src: url('../fonts/hyperzoa_ultra_clouds-webfont.eot');
  src: url('../fonts/hyperzoa_ultra_clouds-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hyperzoa_ultra_clouds-webfont.woff2') format('woff2'), url('../fonts/hyperzoa_ultra_clouds-webfont.woff') format('woff'), url('../fonts/hyperzoa_ultra_clouds-webfont.ttf') format('truetype'), url('../fonts/hyperzoa_ultra_clouds-webfont.svg#hyperzoaultra') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'marathonbold';
  src: url('../fonts/marathon_online-webfont.eot');
  src: url('../fonts/marathon_online-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/marathon_online-webfont.woff2') format('woff2'), url('../fonts/marathon_online-webfont.woff') format('woff'), url('../fonts/marathon_online-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* First typeface
@font-face {
    font-family: 'marathonbold';
    src: url('../fonts/marathon_l4_bold-webfont.eot');
    src: url('../fonts/marathon_l4_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/marathon_l4_bold-webfont.woff2') format('woff2'),
         url('../fonts/marathon_l4_bold-webfont.woff') format('woff'),
         url('../fonts/marathon_l4_bold-webfont.ttf') format('truetype'),
         url('../fonts/marathon_l4_bold-webfont.svg#marathonbold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'nebula_iiregular';
  src: url('../fonts/nebula-webfont.eot');
  src: url('../fonts/nebula-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nebula-webfont.woff2') format('woff2'), url('../fonts/nebula-webfont.woff') format('woff'), url('../fonts/nebula-webfont.ttf') format('truetype'), url('../fonts/nebula-webfont.svg#nebula_iiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hyperzoaultra';
  src: url('../fonts/hyperzoa_ultra_clouds-webfont.eot');
  src: url('../fonts/hyperzoa_ultra_clouds-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/hyperzoa_ultra_clouds-webfont.woff2') format('woff2'), url('../fonts/hyperzoa_ultra_clouds-webfont.woff') format('woff'), url('../fonts/hyperzoa_ultra_clouds-webfont.ttf') format('truetype'), url('../fonts/hyperzoa_ultra_clouds-webfont.svg#hyperzoaultra') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'marathonbold';
  src: url('../fonts/marathon_online-webfont.eot');
  src: url('../fonts/marathon_online-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/marathon_online-webfont.woff2') format('woff2'), url('../fonts/marathon_online-webfont.woff') format('woff'), url('../fonts/marathon_online-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nebula_iiregular';
  src: url('../fonts/nebula-webfont.eot');
  src: url('../fonts/nebula-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nebula-webfont.woff2') format('woff2'), url('../fonts/nebula-webfont.woff') format('woff'), url('../fonts/nebula-webfont.ttf') format('truetype'), url('../fonts/nebula-webfont.svg#nebula_iiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  font-weight: normal !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
a {
  font-weight: normal !important;
}
a:hover {
  color: #f1f2d9;
  text-decoration: underline;
}
p {
  text-align: left;
}
p a {
  text-decoration: underline;
}
footer {
  background: #020202 !important;
  margin: 30px 0 0 0;
  text-align: center;
}
footer h3 {
  margin: 0;
}
footer img {
  max-height: 35px;
}
footer a {
  opacity: .7;
}
footer a:hover {
  opacity: 1;
}
footer .col-md-3 {
  padding: 20px 0 40px 0;
}
footer i {
  margin-left: 10px;
}
footer .row {
  margin: 0;
}
/* CUSTOMIZE THE BOOTSTRAP NAVBAR
-------------------------------------------------- */
.navbar {
  font-size: 12px;
  letter-spacing: .01em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav .open > a:active {
  background: #020202 !important;
  color: #f1f2d9 !important;
}
.nav > li > a {
  text-align: center;
  padding-left: none !important;
  padding-right: none !important;
}
.nav-wrapper {
  padding: 10px 150px;
}
.nav-wrapper li {
  padding: 10px 0;
}
#navigation {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.subnav {
  background: #f1f2d9;
  color: #020202;
  opacity: .9;
}
.subnav li > a {
  color: #020202 !important;
  cursor: pointer;
  letter-spacing: .1em;
}
.subnav li > a:hover {
  background: #020202;
  color: #f1f2d9 !important;
  z-index: 10000 !important;
}
.subnav li > a:active {
  color: #020202 !important;
  z-index: 10000 !important;
}
.subnav .dropdown-menu {
  width: 100%;
  cursor: pointer;
}
.subnav .col-lg-2 {
  padding: 0;
}
.dropdown-menu {
  padding: 0;
}
.dropdown-menu > li {
  background: #020202;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-menu > li > a {
  background: #020202 !important;
  color: #f1f2d9 !important;
  font-size: 10px !important;
  text-align: left !important;
  padding: 5px;
  z-index: 10000;
  border-bottom: 1px solid #f1f2d9;
}
.dropdown-menu > li > a:hover {
  color: #f1f2d9 !important;
}
.dropdown-toggle a:active {
  color: #f1f2d9 !important;
  text-decoration: underline;
}
.subnav .dropdown-toggle > li > a:hover {
  color: #f1f2d9;
  text-decoration: underline;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  color: inherit;
  z-index: 1;
  top: 10% !important;
}
.carousel-caption h1 {
  font-size: 48px;
  text-transform: uppercase;
}
/* Carousel caption subtext */
.carousel-subcaption {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 50%;
  font-size: 24px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #f1f2d9;
  text-align: center;
  text-shadow: none;
  font-weight: thin !important;
}
.carousel-subcaption .btn {
  text-shadow: none;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}
.carousel-indicators li {
  color: #f1f2d9;
  border-color: #f1f2d9;
  opacity: 1;
}
.carousel-indicators .active {
  background-color: #f1f2d9;
  color: #f1f2d9;
  border-color: #f1f2d9;
  opacity: 1;
}
.carousel-control {
  color: #f1f2d9;
  opacity: 1;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  top: 15%;
  font-size: 78px;
}
.carousel-stroke {
  position: absolute;
  top: 45%;
  z-index: 500;
  display: inline-block;
  border-top: 6px solid #f1f2d9;
  width: 100%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 85%;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 85%;
}
/* ISOTOPE
------------------------- */
.item {
  /* margin: 20px 8px; */
  margin-bottom: 40px;
}
.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
  max-width: 200px;
}
.info-overlay h3 {
  margin-bottom: 0;
}
.info-overlay {
  background: #020202;
  //bottom: 0;
  padding-top: 5px;
  // position: absolute;
  font-family: 'marathonbold';
  font-size: 12px;
  text-align: center;
  opacity: .9;
}
/* CUSTOM
------------------------- */
.extinctly-logo {
  background: #020202;
  margin: 35px 0 10px 0;
  height: 50px;
}
.extinctly-logo img {
  max-height: 50px;
}
.container {
  padding: 0 150px;
}
.column-padded {
  padding: 0 30px;
}
.lead {
  font-size: 14px;
  font-weight: normal;
}
.page-title {
  margin-top: 50px;
  margin-bottom: 40px;
}
.extinctly-rotate {
  margin-left: 0;
  margin-right: 0;
  margin-top: 70px;
  margin-bottom: 0;
}
.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rotate-texts {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 85% 50%;
  -moz-transform-origin: 85% 50%;
  -ms-transform-origin: 85% 50%;
  -o-transform-origin: 85% 50%;
  transform-origin: 85% 50%;
  margin-top: 70%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* CONTACT
-------------------------------------------------- */
#contact i {
  margin-left: 10px;
}
#contact {
  max-height: 100%;
}
#contact .form-group {
  font-family: 'Times';
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #f1f2d9;
}
#contact .form-group .form-control {
  font-family: 'Times';
  text-align: center;
}
#contact p {
  text-align: center;
}
#contact button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: #020202;
  border: none;
}
/* FILTERS
-------------------- */
#filters {
  width: 100%;
  font-size: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#filters .col-sm-2 {
  padding-left: 0;
  padding-right: 0;
}
#filters li > a {
  padding-left: 0;
  padding-right: 0;
}
#filters img {
  max-height: 15px;
  padding-right: 5px;
}
.column-title {
  margin-top: 0px;
  margin-bottom: 15px;
}
.no-border {
  border: none !important;
}
.no-margin {
  margin: 0;
  padding: 0;
}
/* PAGES
-------------------- */
.home .col-sm-5 {
  padding: 0;
}
.home .col-sm-2 {
  padding: 0;
}
.case-studies {
  margin: 75px 0;
}
.blog {
  padding: 0 200px;
}
.texts {
  padding: 0 200px;
  margin-bottom: 75px;
}
.texts-gradient {
  height: 30px;
  width: 100%;
  background-image: -moz-linear-gradient(top, #000000 100%, #000000 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.24, #000000), color-stop(0.62, #23ab11));
  background-image: -webkit-linear-gradient(bottom, #000000 24%, #000000 62%);
  background-image: -ms-linear-gradient(bottom, #000000 24%, #000000 62%);
  background-image: linear-gradient(bottom, #000000 24%, #000000 62%);
  background-image: -o-linear-gradient(bottom, #000000 24%, #000000 62%);
}
.main-texts {
  margin-top: 800px;
}
.essay-title {
  font-size: 72px;
  padding-top: 50px;
}
.essay-name {
  font-family: 'nebula_iiregular';
  font-size: 32px;
}
#live {
  background: #f1f2d9;
  height: 5px;
}
.livestream iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.livestream-text .row {
  margin-top: 10px;
}

.livestream-text h2 {
  margin-top: 20px;
}

.livestream-text .dates {
  font-size: 55px;
}

.livestream-text img {
  margin-top: 40px;
}

#posts {
  margin-bottom: 50px;
}
#dashboard {
  visibility: hidden;
}
#participants {
  margin: 50px 0;
}
#participants ul {
  padding-left: 0;
}
.participants-filters {
  color: #f1f2d9;
  list-style: none;
  margin-left: 0;
}
.participants-filters li {
  margin: 0 0 25px 0;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
}
.participants-filters li:hover {
  color: #f1f2d9;
}
#participants img {
  width: 100%;
  height: auto;
}
#participants .col-md-6 {
  margin-bottom: 25px;
}
/* MAP
-------------------------------------------------- */
#map {
  width: 100%;
  height: 600px;
}
.leaflet-container h1,
.leaflet-container h2,
.leaflet-container h3 {
  font-size: 20px;
}
.leaflet-container p {
  font-size: 14px;
}
.leaflet-bar,
.leaflet-control-layers {
  background-color: #4f4f4f;
  border: 1px solid #020202;
  opacity: .9;
}
.custom-popup .leaflet-popup-content-wrapper {
  background: #020202;
  color: #f1f2d9;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #f1f2d9;
}
.custom-popup .leaflet-popup-content-wrapper a {
  font-size: 10px;
  text-transform: uppercase;
  color: #f1f2d9;
}
.custom-popup .leaflet-popup-content-wrapper a:hover {
  color: #f1f2d9;
}
.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}
.custom-popup .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2c3e50;
}
.custom-popup .leaflet-control-layers {
  background: #020202;
  color: #f1f2d9;
  font-family: 'nebula_iiregular';
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  padding: 15px 20px 10px 15px;
  border: 1px solid #f1f2d9;
  -moz-border-radius: 0px;
  /* Firefox */
  -webkit-border-radius: 0px;
  /* Safari, Chrome */
  border-radius: 0px;
  /* CSS3 */
}
.custom-popup .leaflet-control-layers span {
  padding-left: 5px;
}
.custom-popup .leaflet-popup-tip {
  color: #020202;
  border-top-color: #020202;
}
/* PARTICIPANTS
-------------------- */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 500px;
  z-index: 5000;
}
#participants {
  margin: 50px 0;
}
#participants ul {
  padding-left: 0;
}
.participants-filters {
  color: #f1f2d9;
  list-style: none;
  margin-left: 0;
}
.participants-filters li {
  margin: 0 0 25px 0;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
}
.participants-filters li:hover {
  color: #f1f2d9;
}
/* MODAL MODS
-------------------------------------------------- */
.modal-open .modal {
  background: #020202;
  width: 100%;
  margin-bottom: 100px;
  margin: 0;
}
.modal-dialog {
  background: #020202;
  width: 100%;
  border: none;
  margin: 0;
}
.modal-content {
  background: #020202;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
}
.modal-header {
  background: #020202;
  opacity: .9;
  border-bottom: 8px solid #f1f2d9;
}
.modal-body {
  background: #020202;
  border: none;
  width: 100%;
  height: 100%;
  padding: 30px;
  margin-bottom: 70px;
}
.modal-footer {
  background: #020202;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 5px solid #f1f2d9;
  opacity: .9;
}
.modal-body iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 500px;
  padding: 20px 0;
}
.modal-body .lead {
  text-align: center;
}
.modal-body-container {
  background: #020202;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
}
.modal-body-container img {
}
.kev {
  background: #FFF !important;
  color: #000;
  border: none !important;
}

.kev a {
  color: #000;
  text-decoration: underline;
}

/* new MODS
-------------------------------------------------- */

.fixed-nav-offset {
  padding-top: 250px;
}

.fixed-nav-body {
  margin-top: 250px;
}

.essay-text {
  margin-top: 75px;
  margin-bottom: 75px;
}

.ongoing-collapse-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 125px;
  padding: 0 0 40px 0;
}

.modal-body p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.bio {
  font-size: 14px;
  max-width: 260px;
}

.subdomain {
  font-size: 22px;
  text-transform: uppercase;
}

.modal-body .kev {
  padding-bottom: 30px;
}

.modal-header .kev .close {
  color: #020202;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    /* margin-bottom: -90px; Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    /* border-radius: 4px; */
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0 25px;
  }
}
@media screen and (max-device-width: 500px) {
  #myCarousel {
    visibility: none;
  }
  .container {
    padding: 0 25px;
  }
  .col-sm-6 {
    padding: 0;
  }
  .column-padded {
    padding: 0;
  }
  footer {
    padding: 0;
  }
  .modal-body iframe,
  .modal-body img {
    max-width: 100%;
  }
  .nav-wrapper {
    padding: 0 0;
  }
  .case-studies {
    margin: 0;
  }
  .extinctly-logo img {
    max-height: 70px;
  }
  .blog {
    margin: 0 15px;
    padding: 0;
  }
  .blog .dates {
    margin-top: 20px;
    padding-bottom: 5px;
  }
  .extinctly-rotate {
    margin-top: 200px;
  }
  .carousel-caption {
    visibility: none;
    display: none;
  }
  .carousel-subcaption {
    visibility: none;
    display: none;
  }
  .main-texts {
    margin-top: 500px;
  }
}
